# black list
/*
target
tmp
tmp.*

.directory
.thumbnails*
.DS_Store
desktop.ini
Thumbs.db
Thumbs.db:encryptable

# whitelist
!/src
!/build.rs
!/.rustfmt.toml
!/rust-toolchain.toml
!/.cargo
!/Cargo.toml
!/Cargo.lock
!/License
!/assets
!/docs
!/tests
!/examples
!/.git*
!/locales
# !/Readme*.md
# !/crates
